(
    content: Frame(
        padding: Even("50pt"),
        margin: Even("5pt"),
        content: List(
            show_icons: true,
            exit_after_selection: true,
            provider: Applications
        ),
    ),
)
